@*
*@
@section styles{
    <link rel="stylesheet" href="~/css/Brignas.css" />
}
<div class="container">
    <div id="image">
        <img id="profile-photo" src="https://lh3.googleusercontent.com/a/ACg8ocLoOZ339aY8suK8tTR0s42iC6UgdE2qJNary0EMsZr73Q=s288-c-no" 
        alt="Profile-Image" 
        style="margin-bottom: 20px; margin-top: -100px; width: 150px; border-radius: 50%;">
    </div>
    <div class="header">
        <div class="full-name">
            <span class="first-name">Rian Dave</span>
            <span class="last-name">Brignas</span>
        </div>
        <div class="contact-info">
            <span class="email">Email: </span>
            <span class="email-val">brignasriandave@gmail.com</span>
            <span class="separator"></span>
            <span class="phone">Phone: </span>
            <span class="phone-val">09668026876</span>
        </div>

        <div class="about">
            <span class="position">Back-End Developer </span>
            <span class="desc">
                I am a 4th Year student from University of Cebu, Lapu-Lapu and Mandaue.
            </span>
        </div>
    </div>
    <div class="details">
        <div class="section">
            <div class="section__title">Education</div>
            <div class="section__list">
                <div class="section__list-item">
                    <div class="left">
                        <div class="name">University of Cebu</div>
                        <div class="addr">Mandaue City</div>
                        <div class="duration">2020 - 2024</div>
                    </div>
                    <div class="right">
                    </div>
                </div>

            </div>

        </div>
        <div class="section">
            <div class="section__title">Projects</div>
            <div class="section__list">
                <div class="section__list-item">
                    <div class="name">Online Shopping System</div>
                    <div class="text">I am a back-end developer of a web-application named UNITEE. I have less experience but I'm motivated, result-focused and seeking a successful team-oriented company with opportunity to grow.</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section__title">Skills</div>
            <div class="skills">
                <div class="skills__item">
                    <div class="left">
                        <div class="name">
                            Javascript
                        </div>
                    </div>
                    <div class="right">
                        <input id="ck1" type="checkbox" checked />

                        <label for="ck1"></label>
                        <input id="ck2" type="checkbox" checked />

                        <label for="ck2"></label>
                        <input id="ck3" type="checkbox" />

                        <label for="ck3"></label>
                        <input id="ck4" type="checkbox" />
                        <label for="ck4"></label>
                        <input id="ck5" type="checkbox" />
                        <label for="ck5"></label>

                    </div>
                </div>

            </div>
            <div class="skills__item">
                <div class="left">
                    <div class="name">
                        C#
                    </div>
                </div>
                <div class="right">
                    <input id="ck1" type="checkbox" checked />

                    <label for="ck1"></label>
                    <input id="ck2" type="checkbox" checked />

                    <label for="ck2"></label>
                    <input id="ck3" type="checkbox" />

                    <label for="ck3"></label>
                    <input id="ck4" type="checkbox" />
                    <label for="ck4"></label>
                    <input id="ck5" type="checkbox" />
                    <label for="ck5"></label>

                </div>
            </div>

        </div>
        <div class="section">
            <div class="section__title">
                Interests
            </div>
            <div class="section__list">
                <div class="section__list-item">
                    Basketball, Programming, Online Games.
                </div>
            </div>
        </div>
    </div>
</div>
