@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section styles{
        <link rel="stylesheet" href="/css/Garado.css" />
}

<div class="wrapper-container">
    <div class="content-container">
    <h1>Ouano</h1>

    <div class="img-container">
        <center><img src="~/img/sanavcr.gif" /></center>
        <br ><br >
    </div>
    <p style="text-align: center"><span style="background-color: #e8b99e">Stage Name:</span> Sana<br>
<span style="background-color: #e8b99e">Birth Name:</span> Minatozaki Sana (湊崎 紗夏)<br>
<span style="background-color: #e8b99e">Nationality:</span> Japanese<br>
<span style="background-color: #e8b99e">Birthday:</span> December 29, 1996<br>
<span style="background-color: #e8b99e">Zodiac Sign:</span> Capricorn<br>
<span style="background-color: #e8b99e">Official height:</span> 168 cm (5’6″) / Approx. Real Height: 163 cm (5’4″)*<br>
<span style="background-color: #e8b99e">Weight:</span> 48 kg (106 lbs)<br>
<span style="background-color: #e8b99e">Blood Type:</span> B</p>
<br ><br >
<p style="text-align: center"><span style="background-color: #e8b99e"><strong>Sana facts:</strong></span><br>
– Born in Tennōji-ku, Osaka, Japan.<br>
– SANA is an only child.<br>
– She got cast while she was shopping with her friends.<br>
– She passed the audition on April 13, 2012.<br>
– Her representative color is <span style="background-color: #7c62a3">Purple</span>.<br>
– SANA’s specialty is calligraphy. She learned it in primary school.<br>
– SANA is very clumsy.<br>
– She has an optimistic personality.<br>
– Her hobbies are collecting perfumes and body mist.<br>
– She loves shopping.<br>
– She is afraid of thunders.<br>
– SANA likes yogurt smoothies but hates eggplants and beans.<br>
– She likes spicy foods.<br>
– SANA can’t eat eggplant.<br>
– She is allergic to pollen.<br>
– She hates being alone.<br>
– SANA enjoys being in her bed the most.<br>
– She stretches a lot in her bed.<br>
– She likes the colors purple, pink, white, black and beige. But she doesn’t like purple clothing.<br>
– SANA likes the Japanese movie “A Litre of Tears.” She said she cried a lot while watching it.<br>
– She likes horror movies. She’s the type to scream while she keeps watching.<br>
– When SANA can’t sleep, she stretches.<br>
– SANA is close to Gfriend’s <strong><a href="https://kprofiles.com/eunha-gfriend-profile-facts/" target="_blank" rel="noopener">Eunha</a></strong>, she mentioned it on MBC Gayo Daejejeon – December 31, 2017.<br>
– SANA is also friends with <strong><a href="https://kprofiles.com/onf-members-profile/" target="_blank" rel="noopener">ONF</a></strong>‘s U (both are from Osaka and trained together in JYP)<br>
– She was in GOT7’s “A” MV, Junho’s “Feel” (Japanese) MV and Junho’s “Candy” (Japanese) MV<br>
– SANA has most confidence in her pupils.<br>
– Her specialty is untangling knots.<br>
– SANA has a scar from when she went to go eat meat with Momo and Mina, burned herself on a doenjangjjigae bowl.<br>
– She was ranked 21st in the “100 Most Beautiful Faces of 2017”.<br>
– SANA is ranked 46th on TC Candler “The 100 Most Beautiful Faces of 2018”.<br>
– She was the MC of Idol Star Athletics Championship 2019 New Years Special.<br>
– In the dorm, JIHYO, NAYEON, SANA, and MINA&nbsp; share the biggest room.<br>
– <strong>SANA’s ideal type</strong>: “<em>Someone who treats his parents well. Someone who works hard in his career; Someone professional</em>”</p>