@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="container vw-100 h-100 p-0" style="background-color:maroon">
        <div class="d-flex flex-row p-3 align-items-center">
            <div class="col">
                <img src="https://staticg.sportskeeda.com/editor/2022/10/1d651-16647619643200-1920.jpg" class="img-fluid w-100 rounded" style="vertical-align:bottom;border:0;" alt="...">
            </div>
            <div class="col">
                <h1 class="text-white mb-3">JUJUTSU KAISEN</h1>
                <h4 class="text-white">呪術廻戦</h4>
           </div>       
       </div>
    </div>
    <div class="container vw-100 vh-100 p-0" style="background-color:white">
        <div class="d-flex flex-row pl-5 pr-5 align-items-center justify-content-center h-100">           
            <div class="col" style="margin-right:50px">
                <h1 class="mb-3 text-right">SYNOPSIS</h1>
                <hr class="border-2" style="color:maroon; border:2"/>
                <p class="text-right">Yuji Itadori, a kind-hearted teenager, joins his school's Occult Club for fun, but discovers that its members are actual sorcerers who can manipulate the energy between beings for their own use. He hears about a cursed talisman - the finger of Sukuna, a demon - and its being targeted by other cursed beings. Yuji eats the finger to protect his friends, and ends up becoming Sukuna's host. However, Yuji discovers that he has inherited magic and is able to control this power without interference from Sukuna. He joins the Tokyo Metropolitan Magic Technical College to consumes all of Sukuna's fingers, which will enable a full exorcism to take place that will free him.</p>
           </div>
            <div class="col">
                <img src="~/img/yuji.jpg" class="mx-auto" style="vertical-align:bottom;border:0; height:580px" alt="...">
            </div>
       </div>
    </div>
    <div class="container vw-100 vh-100 p-0" style="background-color:black">
        <div class="text-center">
            <h1 style="color:maroon">SOME CHARACTERS</h1>
        </div>
        <div class="d-flex flex-row p-4 align-items-center justify-content-center h-100"> 
            <div class="col">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/img/satoru.png" class="rounded-circle mx-auto" style="vertical-align:bottom;border:0;height:200px;margin-left:50%;margin-right:auto" alt="...">
                <h3 class="text-center my-3" style="color:maroon">Gojo Satoru</h3>
                <p class="text-center">He is a special grade jujutsu sorcerer and widely recognized as the strongest in the world. Satoru is the pride of the Gojo Family, the first person to inherit both the Limitless and the Six Eyes in four hundred years.</p>
            </div>
            <div class="col">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/img/suguru.png" class="rounded-circle text-center" style="vertical-align:bottom;border:0;height:200px" alt="...">
                <h3 class="text-center my-3" style="color:maroon">Geto Suguru</h3>
                <p class="text-center">He is a Special Grade Jujutsu Sorcerer, one of Masamichi Yaga's students, and a former classmate of Gojo and Shoko Ieiri. His Cursed Technique allows him to absorb and control natural curses and use them for combat.</p>
            </div>
            <div class="col">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/img/nanami.png" class="rounded-circle" style="vertical-align:bottom;border:0;height:200px" alt="...">
                <h3 class="text-center my-3" style="color:maroon">Nanami Kento</h3>
                <p class="text-center">He is a Special Grade Jujutsu Sorcerer, one of Masamichi Yaga's students, and a former classmate of Gojo and Shoko Ieiri. His Cursed Technique allows him to absorb and control natural curses and use them for combat.</p>
            </div>
       </div>
    </div>
    <div class="container vw-100 h-100 p-0" style="background-color:maroon">
        <div class="d-flex flex-col p-3 align-items-center justify-content-center">
            <div class="">
                <img src="~/img/jjk.png" class="img-fluid rounded" style="vertical-align:bottom;border:0;height:100px" alt="...">
            </div>
        </div>
    </div>
</div>
