@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="text-align: center">

        <h1>Stray Kids</h1>
        <img src="~/img/straykids.jpg" alt="Straykids" style="width:550px; height:auto">
        <br />
        <p>Stray Kids is a South Korean boy band formed by JYP Entertainment through the 2017 reality show of the same name. The group is composed of eight members: Bang Chan, Lee Know, Changbin, Hyunjin, Han, Felix, Seungmin, and I.N..</p>
        <br />
        <h1>Members</h1>
</div>
<div>
    <h2>1. Bang Chan</h2>
    <img src="~/img/bangchan.jpg" alt="BangChan" style="height: 300px; width:auto;"/>
    <p>
        Bang Chan, born on October 3, 1997, is the leader of Stray Kids.
        He is known for his versatility in rapping, singing, song composition, and dancing.
        He is an Australian citizen and went to Korea to train as a K-pop idol at the age of 15.
    </p> 
    <h2>2. Lee Know</h2>
    <img src="~/img/leeknow.jpg" alt="LeeKnow" style="height: 300px; width:auto;" />
    <p>
        Born on October 25, 1998, Lee Know is an only child. He is a member of the group's sub-unit, 
        Danceracha along with fellow members Felix and Hyunjin. He is the group's choreographer.
    </p>
    <h2>3. Chang Bin</h2>
    <img src="~/img/changbin.jpg" alt="ChangBin" style="height: 300px; width:auto;" />
    <p>
        Born on August 11, 1999, Changib belongs to the group's sub-unit 3racha with Bang Chan and Han. 
        They are mostly the composers and rappers of the group. Chang Bin had been declared to be the
        fastest 4th generation rapper.
    </p>
    <h2>4. Hyun Jin</h2>
    <img src="~/img/hyunjin.jpeg" alt="HyunJin" style="height: 300px; width:auto;" />
    <p>
        Born on March 20, 2000, Hyun Jin is the main dancer of the group. He belongs to Danceracha and
        mostly assigned for the group's choreography. He is also the main visual of the group because of
        his ethereal beauty.
    </p>
    <h2>5. Han</h2>
    <img src="~/img/han.jpeg" alt="Han" style="height: 300px; width:auto;" />
    <p>
        Born on September 14, 2000, Han is one of the group's main rapper. He is a member of 3racha and has 
        composed many songs including pre-debut tracks.
    </p>
    <h2>6. Felix</h2>
    <img src="~/img/felix.jpeg" alt="Felix" style="height: 300px; width:auto;" />
    <p>
        Born on September 15, 2000, Felix is an Australian member of the group. He is the main dancer and 
        also considered to be the visual. He has freckles on his face which makes him more attractive. He
        is also a Taekwondo player since he was a child in Australia.
    </p>
    <h2>7. Seung Min</h2>
    <img src="~/img/seungmin.jpg" alt="SeungMin" style="height: 300px; width:auto;" />
    <p>
        Born on September 22, 2000, Seung Min is the main vocalist of the group. He is a member of the sub-unit
        Vocalracha with IN. He is also assigned on the group's song writing along with the other members.
    </p>
    <h2>8. IN</h2>
    <img src="~/img/IN.jpg" alt="IN" style="height: 300px; width:auto;" />
    <p>
        Born on February 8, 2001, IN is the youngest member of the group. He is a member of the sub-unit 
        Vocalracha with IN. He is the group's vocalist and is really good in Korean Trot songs.
    </p>
    <h2>Thank You!</h2>
</div>
    

